*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(139, 28, 250);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    gap: 10px;
}

header h1{
    font-size: 60px;
}

header p{
    font-size: 20px;
}


.cardsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 0px;
    padding: 10px;
}

.cardsContainer .cards{
    width: 40%;
    margin: 10px 0px;
    padding: 15px;
}

.cardsContainer .cards img{
    float: left;
    border-radius: 50%;
    width: 80px;
    margin-right: 20px;
}

.cardsContainer .cards h2{
    font-size: 23px;
    margin-bottom: 10px;
}
.cardsContainer .cards h3{
    font-size: 16px;
    color: gray;
}

.cardsContainer .cards p{
    clear: left;
    padding-top: 20px;
}

.c1 , .c4 , .c5 {
    background-color: rgba(139, 28, 250, 0.2);
    border-left: 5px solid rgba(139, 28, 250, 0.6);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.356);
}

.c2, .c3 , .c6{
    border-left: 5px solid rgba(128, 128, 128, 0.6);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.356);
}