*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* --------------------------------------------Header----------------------------------------- */

header{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    padding: 10px 0px;

}
header div img{
    width: 130px;
}

header .searchBar input{
    background-color: rgba(128, 128, 128, 0.159);
    color: rgb(156, 156, 156);
    border: none;
    width: 280px;
    height: 35px;
    padding: 5px;
    border-radius: 5px;
}

header .searchBar button{
    background-color: rgb(255, 170, 0);
    color: white;
    height: 35px;
    width: 70px;
    border: none;
    border-radius: 5px;
}

header .navLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

header .navLinks a{
    text-decoration: none;
    color: white;
    background-color: rgb(26, 26, 222);
    border: none;
    border-radius: 5px;
    width: 70px;
    height: 35px;
    text-align: center;
    padding-top: 7px;
}

/* --------------------------------------------------------------main body------------------------------ */

main{
    background-color: rgba(128, 128, 128, 0.159);
    padding: 35px 20px;
}

main .catagories{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    background-color: white;
    margin-bottom: 10px;
}

main .catagories figure{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

main .catagories figure img{
    width: 80px;
    padding: 4px;
    margin-bottom: 5px;
}

main .banner img{
    width: 100%;
    margin: 10px 0px;
}

main .trending {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto; 
    column-gap: 10px; 
    margin: 10px 0px;
}

main .trending figure img{
    width: 100%;
}

main .topDeals{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: auto;
    align-content: center;
    justify-content: space-around;
    column-gap: 10px;
    padding: 30px 10px;
    margin-top: 10px;
}

main .topDeals h2{
    grid-column: 1/7;
    justify-self: center;
    margin-bottom: 20px;
}

main .topDeals figure{
    border: none;
    box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.3);
    padding: 10px;
}

main .topDeals figure img{
    width: 180px;
    height: 200px;
}

main .topDeals figure figcaption{
    margin-top: 3px;
    text-align: center;
}

/* ----------------------------------------------------footer------------------------------------- */


footer{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-auto-rows: auto;
    align-content: center;
    justify-content: space-around;
    padding: 30px 0px;
    gap: 20px 0px;
}

footer div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    text-align: center;
    gap: 10px 0px;
}


footer div h3{
    color: grey;
    margin-bottom: 5px;
}

footer div a{
    color: white;
    text-decoration: none;
}

footer div a:hover{
    text-decoration: underline;
}

footer .copyright{
    grid-column: -5/-1;
    margin-top: 10px;
}

footer .copyright p{
    padding: 5px;
    color: white;
}

