* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
}

header h1 {
  color: white;
  background-color: rgb(0, 0, 160);
  width: 100%;
  height: 80px;
  padding-top: 20px;
  position: fixed;
  top: 0px;
  z-index: 20;
}

main {
  background-image: url("https://ninjasfiles.s3.amazonaws.com/asset_0000000000003226_1714596295_pics1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  position: relative;
  top: 80px;
}

.backgroundHeading{
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 20px 0px;
  line-height: 45px;
}


.coaches {
  text-align: center;
  padding: 50px 0px;
  gap: 100px;
  margin: 10px 0px 70px 0px;
}

.coaches .coachContainer {
  width: 250px;
  height: 200px;
  border: 10px solid rgb(255, 255, 255);
  border-radius: 10px;
  display: inline-block;
  position: relative;
  margin: 0px 30px;
}

.coaches .coachContainer .coachNames{
  position: absolute;
  bottom: 0;
  color: white;
}

.coach1 .coachNames{
  left: 35px;
}
.coach2 .coachNames{
  left: 20px;
}
.coach3 .coachNames{
  left: 35px;
}

.coach1 {
  background-image: url("https://ninjasfiles.s3.amazonaws.com/asset_0000000000003227_1714596308_pics2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.coach2 {
  background-image: url("https://ninjasfiles.s3.amazonaws.com/asset_0000000000003228_1714596324_pics3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.coach3 {
  background-image: url("https://ninjasfiles.s3.amazonaws.com/asset_0000000000003229_1714596356_pics4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.starPlayer {
  background-color: white;
  margin: 0px auto;
  text-align: center;
  width: 400px;
  height: 300px;
  overflow: auto;
  scrollbar-width: none;
  border-radius: 8%;
}

.starPlayer h2 {
  margin: 5px;
}

.starPlayer figure {
  margin: 20px 0px;
}

.starPlayer figure img {
  width: 300px;
  height: 200px;
  border-radius: 5%;
}

.starPlayer figure figcaption {
  margin: 5px 0px;
}

.formatTable{
  /* position: relative; */
  width: 60%;
  height: 280px;
  margin: 50px auto;
  padding: 20px 0px;
}

table {
  background-color: white;
  width: 100%;
  height: 200px;
}

table th{
  background-color:rgb(0, 0, 160);
  color: white;
  text-align: left;
}

table th, td{
  padding-left: 5px;
}

footer {
  color: white;
  background-color: rgb(0, 0, 160);
  text-align: center;
  padding: 10px;
  line-height: 30px;
  position: relative;
  bottom: 0;
}
