*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: rgb(51, 51, 51);
}

body{
    background-image: linear-gradient(to bottom, rgba(73, 248, 198, 0.808), rgba(26, 83, 241, 0.868));
    background-repeat: no-repeat;
    height: 100vh;
}

.outerContainer{
    background-color: white;
    width: 45%;
    height: 100%;
    margin:  0 auto;
    padding: 1.25rem;
    border-radius: 0.5rem;
}

div{
    border: none;
    padding: 1.2rem 1rem;
    margin: 1.5rem 1rem;
    box-shadow: 0 0 0.4rem grey;
    border-radius: 0.5rem;
}

h1{
    text-align: center;
}

p{
    margin-top: 1rem;
    line-height: 1.2rem;
}

.container2{
    background-image: linear-gradient(to right, rgb(0, 255, 128, 0.7), rgba(149, 255, 0, 0.7));
}

.container3{
    background-image: radial-gradient(rgb(244, 84, 110), rgba(255, 182, 193, 0.8));
}

.container4{
    background-image: conic-gradient( rgb(255, 136, 0, 0.8), rgb(242, 210, 152,0.8));

}