*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-template-areas: "left right right right";
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.2);
}
/*-----------------------------------------------------------------left section----------------*/

.left{
    grid-area: left;
    display: flex;
}

.fixedPosition{
    position: fixed;
    background-color: black;
    width: 250px;
    height: 600px;
    justify-items: center;
    top: 20px;
    padding: 20px 10px;
    border-radius: 30px;
}

.profilePicContainer{
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.profilePicContainer img{
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profilePicContainer p{
    color: white;
    font-size: 25px;
}

.navbar{
    padding: 20px 0px;
}

.navbar .navIcon{
    padding-right: 10px;
    margin-right: 10px;
}

.navbar .navIcon:hover{
    color: yellow;
}

.navbar ul{
    margin:10px 0px;
    line-height: 60px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
}

.navbar ul li a span{
    color: white;
}

.navbar ul li a span:hover{
    color: gray;
}


/*---------------------------------------------------------------------right section--------------*/
.right{
    grid-area: right;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0px;
}

.header input{
    border: none;
    border-radius: 10px;
}

.header input:hover{
    border: 5px solid lightgreen;
}

/* --------------------------------------------Data Graph */

#barGraph{
    margin: 50px 0px;
}

#barGraph img{
   border-radius: 10px;
   width: 900px;
   height: 400px;
}


/*-------------------------------------------- DashBoead Data */

#dashboardData{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    justify-items: center;
    gap: 50px 80px;
    margin: 80px 0px;
}

#dashboardData h2{
    grid-column: 1/5;
    text-decoration: underline;
}

#dashboardData .dataCard{
    width: 160px;
    height: 80px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#dashboardData .dataCard:hover{
    background: radial-gradient(circle,rgba(255, 65, 65, 0.547), rgba(73, 73, 241, 0.515));
}

#dashboardData .dataCard i{
    align-self: flex-end;
}

#dashboardData .dc1{
    background-color: rgba(144, 238, 144, 0.5);
}
#dashboardData .dc2{
    background-color: rgba(238, 203, 144, 0.5);
}
#dashboardData .dc3{
    background-color: rgba(238, 144, 172, 0.499);
}
#dashboardData .dc4{
    background-color: rgba(219, 144, 238, 0.5);
}

/*-------------------------------------------------------------User Interaction----------*/

#userInteraction{
    width: 900px;
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#userInteraction h2{
    text-decoration: underline;
}

#userInteraction table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 20px;
    background-color: white;
}

#userInteraction table th,table td{
    text-align: left;
    padding: 15px 100px;
}

#userInteraction table th{
    background-color: #877c7c;
    font-weight: 600;
}

#userInteraction table tr:nth-child(even){
    background-color: #d5d4d4;
}


/* ----------------------------------------------------------Scheduel----------- */

#schedule{
    background-color: white;
    width: 81%;
    border-radius: 15px;
    padding: 10px;
    margin: 40px 0px;
}

#schedule h2{
    text-decoration: underline;
    padding: 10px 0px;
    margin-left: 10px;
}

.scheduleCard{
    border-left: 5px solid greenyellow;
    border-radius: 5px;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    gap: 10px;
    padding: 5px;
}

.scheduleCard p{
    color: #a39696;
}

.scheduleCard:nth-child(odd){
    border-left: 5px solid blueviolet;
}

/*------------------------------------------------------contact---------------------*/

#contact{
    display: flex;
    flex-direction: row;
    width: 81%;
    gap: 30px;
}

#contact iframe{
    border-radius: 10px;
}

#contact .feedbackForm{
    background-color: whitesmoke;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
}

#contact .feedbackForm form{
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 40px;
}

.feedbackForm h3{
    text-align: center;
    padding: 20px 0px;
    text-decoration: underline;
}

#contact .feedbackForm form .formName{
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

#contact .feedbackForm form .formEmail{
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

#contact .feedbackForm form .formFeedback{
    height: 100px;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

#contact .feedbackForm form button{
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: rgba(50, 205, 50, 0.8);
    color: white;
}

/* --------------------------------------------------------footer------------------------- */

.footer{
    width: 82%;
    background-color: black;
    color: white;
    padding: 20px 10px;
    margin-top: 50px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 20px;
}

.footer .socialIcons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 200px;
    height: 50px;
    gap: 30px;
}

.footer .socialIcons i{
    width: 60px;
}
