*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-image: url("https://ninjasfiles.s3.amazonaws.com/asset_0000000000002644_1709089520_download.jpg");
    margin: 0.5rem;
}

nav{
    background-color: rgb(72, 72, 72);
    height: 3rem;
}
ul{
    list-style-type: none;
    text-align: center;
    margin-top: 0.8rem;
    padding-top: 0.6rem;
}
li{
    display: inline-block;
    margin: 0 1rem;
}
a{
    color: white;
    font-weight: 700;
    font-size: 1.3rem;
    text-decoration: none;
}

h1{
    color: white;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
    margin: 1rem 0;
}

.books{
    text-align: center;
    margin: 1.5rem auto;
}

.books div{
    background-color: white;
    display: inline-block;
    padding: 0.2rem;
    border: 0.1rem solid rgb(0, 255, 255);
    text-align: center;
    border-radius:1.25rem;
    padding: 1rem;
    margin: 0 1.3rem;
}

.books div p{
    margin-top: 1rem;
}

.inStocks{
    color: green;
}

table{
    background-color: rgb(109, 74, 80);
    width: 60%;
    text-align: center;
    border-collapse: collapse;
    margin: 2rem auto;
}
td{
    border: 0.1rem solid white;
    background-color: rgb(70, 63, 78);
}

td,th{
    padding: 0.6rem;
    color: white;
    font-size: 1.2rem;
}

form label, textarea{
    display: block;
}

form button, label{
    margin-top: 0.8rem;
}

form input{
    width: 18rem;
    height: 2rem;
}

form textarea{
    width: 18rem;
    height: 3rem;
}

.contactInfo p{
    background-color: rgb(131, 127, 127);
    margin: 0.8rem 0;
    padding: 0.8rem 0;
    text-align: center;
    border: none;
    border-radius: 0.8rem;
    font-size: 1.3rem;
    color: white;
}

.contactInfo a{
    display: block;
    text-align: center;
}

.contactInfo a button{
    font-weight: 800;
    font-size: 1.1rem;
    border: 0.2rem solid blue;
}

button{
    border: none;
    background-color: rgb(0, 174, 255);
    color: white;
    padding: 0.5rem;
    border-radius: 0.6rem;
}